@page
@model Teste.Pages.AssociadosEmpresas.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Associados e Empresas</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssociadoEmpresaEntity.empresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssociadoEmpresaEntity.empresa.CNPJ)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssociadoEmpresaEntity.associados)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssociadoEmpresaEntity.associados.CPF)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@Model.AssociadoEmpresaEntity.Id">Editar</a> 
    <br />
    <br />
    <a asp-page="./Index">Voltar</a>
</div>
