@page
@model Teste.Pages.Associados.DeleteModel

@{
    ViewData["Title"] = "Deletar";
}

<h1>Deseja deletar esse cadastro?</h1>

<div>
    <h4>Associados</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssociadosEntity.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssociadosEntity.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssociadosEntity.CPF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssociadosEntity.CPF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssociadosEntity.Data_Nascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssociadosEntity.Data_Nascimento)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="AssociadosEntity.Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" />
        <br />
        <br />
        <a asp-page="./Index">Voltar</a>
    </form>
</div>
