@page
@model Teste.Pages.Associados.IndexModel

@{
    ViewData["Title"] = "Associados";
}
<header class="container p-3">
    <div class="row align-items-center">
        <p>
            <div class="col-sm-6 text-right"><a asp-page="Create" class="btn btn-primary">Novo Cadastro</a></div>
        </p>
    </div>
</header>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssociadosEntity[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssociadosEntity[0].CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssociadosEntity[0].DataNascimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AssociadosEntity) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                <a class="btn btn-secondary btn-sm" asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-info btn-sm" asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
